body {
  font-family: 'Poppins', sans-serif;
  background: url(images/santorini.jpg);
  background-size: cover;
}

li {
  color: #202124;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}
.weather-app {
  padding: 30px 30px 30px;

  border-radius: 10px;
  background: rgb(255, 255, 255, 0.7);
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-temperature .units {
  position: relative;
  font-size: 17px;
  top: -30px;
  line-height: 1;
  margin-left: 10px;
}
.weather-temperature span {
  color:#202124;
  line-height: 64px;
  font-size: 55px;
  font-weight: 400;
}
