h1 {
  color: #202124;
  font-size: 55px;
  line-height: 50px;
  display: inline;
  font-family: 'Waiting for the Sunrise', cursive;
  margin-right: 10px;
  font-weight: 600;
}
h2 {
  font-size: 25px;
  line-height: 40px;
  display: inline;
  color: #202124;
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: 600;
}


